.main {
	padding: calc(var(--length__default) / 3);
	grid-column: 3/9;
	background-color: var(--background);
	/* display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(20, 1fr); */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: calc(var(--length__default) / 3);
}

.clock {
	position: relative;
	height: 100%;
	width: 100%;
	padding: var(--font__default);
	display: flex;
	justify-content: center;
	align-items: center;
}

.clock__container {
	height: 45vw;
	width: 45vw;
	transform: rotate(-90deg);
	border-radius: 50%;
	background-color: var(--background);
	box-shadow: 0px 0px 25px 0px var(--background--dark);
}

.clock__disk {
	fill: var(--black);
	fill-opacity: 0.2;
	stroke-opacity: 0.8;
	stroke-width: 5;
	stroke-linecap: round;
}

.clock__text {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3vw;
}

.clock__text--time {
	width: fit-content;
	height: fit-content;
	padding: calc(var(--length__default) * 2);
	border: 1px solid var(--background);
	font-weight: 200;
	text-align: center;
}
.clock__text--time * {
	font-size: calc(var(--font__default) * 10);
}
.clock__text--time .seconds {
	font-size: calc(var(--font__default) * 5.5);
}

.clock__text--date {
	width: fit-content;
	height: fit-content;
	padding: calc(var(--font__default) / 6);
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	gap: 0.8vw;
}
.clock__text--date * {
	font-size: calc(var(--font__default) * 2);
	font-weight: 200;
}
.monthday {
	font-size: calc(var(--font__default) * 2.2);
	font-weight: 500;
}

.hours,
.minutes,
.seconds,
.weekday,
.monthday,
.month {
	text-shadow: 0.5px 0px 1px var(--background--dark);
}
