:root {
	/* font size */
	--font__default: 1vw;

	/* length */
	--length__default: 1vw;

	/* colors */
	--background: var(--grey);
	--background--dark: var(--grey--dark);
	--background--light: var(--grey--light);

	--white: #f2f2f2;
	--black: #0a0a0d;

	--blue: #4bf2e2;
	--blue--dark: #2a4359;

	--green: #5ef235;
	--green--dark: #597332;

	--red: #f22929;
	--red--dark: #400c16;

	--orange: #f27d16;

	--yellow: #f2d64b;
	--yellow--dark: #8c7b46;

	--purple: #663399;
	--purple--dark: #300fa6;

	--grey: #727368;
	--grey--dark: #1f2126;
	--grey--light: #a5a6a4;

	--black__pixel--dark: #242326;
	--black__pixel--light: #3c3e40;

	--white__pixel--dark: #e5e2e3;
	--white__pixel--light: #f2f2f2;

	--pink__pixel--dark: #f2e4e4;
	--pink__pixel--light: #f7f7f7;

	--kulibri--green: #398d3f;
	--kulibri--blue: #006352;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	font-size: var(--font__default);
	color: var(--accent);
	font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Droid Sans', sans-serif;
	text-decoration: none;

	/* border: 1px solid var(--red--light); */
}

#root {
	height: 100vh;
	width: 100vw;
}

.App {
	height: 100%;
	width: 100%;
	background-color: var(--black);
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(20, 1fr);
	gap: calc(var(--length__default) / 2);
}

.header,
.main,
.footer {
	grid-row: 1/21;
}

@import './header.css';
@import './content.css';
@import './footer.css';
