body {
	box-sizing: border-box;
	margin: 0;
	font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.App {
	height: calc(100vh - 2px);
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header {
	width: calc(100% - 2px);
	padding: 0 0.25em;
	background-color: #202020;
	color: #f2f2f2;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
}

footer {
	width: calc(100% - 2px);
	padding: 0 0.25em;
	background-color: #202020;
	color: #f2f2f2;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.clockFrame {
	position: relative;
	width: 50vh;
	height: 50vh;
	border-radius: 50%;
	border: 3px solid #f2f2f2;
	background-color: #202020;
	color: #f2f2f2;
}

.clockFrame .clockDigit {
	--rotation: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	color: orangered;
	/* background-color: rebeccapurple; */
	text-align: center;
	transform: rotate(var(--rotation));
}

.clockFrame .clockDigit1 {
	--rotation: calc((360deg / 24) * 1);
}
.clockFrame .clockDigit2 {
	--rotation: calc((360deg / 24) * 2);
}
.clockFrame .clockDigit3 {
	--rotation: calc((360deg / 24) * 3);
}
.clockFrame .clockDigit4 {
	--rotation: calc((360deg / 24) * 4);
}
.clockFrame .clockDigit5 {
	--rotation: calc((360deg / 24) * 5);
}
.clockFrame .clockDigit6 {
	--rotation: calc((360deg / 24) * 6);
}
.clockFrame .clockDigit7 {
	--rotation: calc((360deg / 24) * 7);
}
.clockFrame .clockDigit8 {
	--rotation: calc((360deg / 24) * 8);
}
.clockFrame .clockDigit9 {
	--rotation: calc((360deg / 24) * 9);
}
.clockFrame .clockDigit10 {
	--rotation: calc((360deg / 24) * 10);
}
.clockFrame .clockDigit11 {
	--rotation: calc((360deg / 24) * 11);
}
.clockFrame .clockDigit12 {
	--rotation: calc((360deg / 24) * 12);
}
.clockFrame .clockDigit13 {
	--rotation: calc((360deg / 24) * 13);
}
.clockFrame .clockDigit14 {
	--rotation: calc((360deg / 24) * 14);
}
.clockFrame .clockDigit15 {
	--rotation: calc((360deg / 24) * 15);
}
.clockFrame .clockDigit16 {
	--rotation: calc((360deg / 24) * 16);
}
.clockFrame .clockDigit17 {
	--rotation: calc((360deg / 24) * 17);
}
.clockFrame .clockDigit18 {
	--rotation: calc((360deg / 24) * 18);
}
.clockFrame .clockDigit19 {
	--rotation: calc((360deg / 24) * 19);
}
.clockFrame .clockDigit20 {
	--rotation: calc((360deg / 24) * 20);
}
.clockFrame .clockDigit21 {
	--rotation: calc((360deg / 24) * 21);
}
.clockFrame .clockDigit22 {
	--rotation: calc((360deg / 24) * 22);
}
.clockFrame .clockDigit23 {
	--rotation: calc((360deg / 24) * 23);
}
.clockFrame .clockDigit24 {
	--rotation: calc((360deg / 24) * 24);
}
