body {
	margin: 0;
	font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.App {
	height: calc(100vh - 2px);
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header {
	width: calc(100% - 2px);
	padding: 0 0.25em;
	background-color: #202020;
	color: #f2f2f2;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
}

footer {
	width: calc(100% - 2px);
	padding: 0 0.25em;
	background-color: #202020;
	color: #f2f2f2;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
