:root {
	/* colors */
	--primary: #f2f2f2;
	--secondary: #202020;
	--accent: orangered;
}

body {
	box-sizing: border-box;
	margin: 0;
	font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.App {
	height: calc(100vh - 2px);
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header {
	width: calc(100% - 2px);
	padding: 0 0.25em;
	background-color: var(--secondary);
	color: var(--primary);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
}

footer {
	width: calc(100% - 2px);
	padding: 0 0.25em;
	background-color: var(--secondary);
	color: var(--primary);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.clockFrame {
	position: relative;
	width: 50vh;
	height: 50vh;
	border-radius: 50%;
	border: 3px solid var(--primary);
	background-color: var(--secondary);
	color: var(--primary);
}

.clockFrame .clockDigit {
	--digitRotation: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	color: var(--accent);
	font-size: 3vh;
	text-align: center;
	transform: rotate(var(--digitRotation));
}

.clockFrame .clockDigit1 {
	--digitRotation: calc((360deg / 24) * 1);
}
.clockFrame .clockDigit2 {
	--digitRotation: calc((360deg / 24) * 2);
}
.clockFrame .clockDigit3 {
	--digitRotation: calc((360deg / 24) * 3);
}
.clockFrame .clockDigit4 {
	--digitRotation: calc((360deg / 24) * 4);
}
.clockFrame .clockDigit5 {
	--digitRotation: calc((360deg / 24) * 5);
}
.clockFrame .clockDigit6 {
	--digitRotation: calc((360deg / 24) * 6);
}
.clockFrame .clockDigit7 {
	--digitRotation: calc((360deg / 24) * 7);
}
.clockFrame .clockDigit8 {
	--digitRotation: calc((360deg / 24) * 8);
}
.clockFrame .clockDigit9 {
	--digitRotation: calc((360deg / 24) * 9);
}
.clockFrame .clockDigit10 {
	--digitRotation: calc((360deg / 24) * 10);
}
.clockFrame .clockDigit11 {
	--digitRotation: calc((360deg / 24) * 11);
}
.clockFrame .clockDigit12 {
	--digitRotation: calc((360deg / 24) * 12);
}
.clockFrame .clockDigit13 {
	--digitRotation: calc((360deg / 24) * 13);
}
.clockFrame .clockDigit14 {
	--digitRotation: calc((360deg / 24) * 14);
}
.clockFrame .clockDigit15 {
	--digitRotation: calc((360deg / 24) * 15);
}
.clockFrame .clockDigit16 {
	--digitRotation: calc((360deg / 24) * 16);
}
.clockFrame .clockDigit17 {
	--digitRotation: calc((360deg / 24) * 17);
}
.clockFrame .clockDigit18 {
	--digitRotation: calc((360deg / 24) * 18);
}
.clockFrame .clockDigit19 {
	--digitRotation: calc((360deg / 24) * 19);
}
.clockFrame .clockDigit20 {
	--digitRotation: calc((360deg / 24) * 20);
}
.clockFrame .clockDigit21 {
	--digitRotation: calc((360deg / 24) * 21);
}
.clockFrame .clockDigit22 {
	--digitRotation: calc((360deg / 24) * 22);
}
.clockFrame .clockDigit23 {
	--digitRotation: calc((360deg / 24) * 23);
}
.clockFrame .clockDigit24 {
	--digitRotation: calc((360deg / 24) * 24);
}

.clockFrame .hand {
	position: absolute;
	bottom: 50%;
	left: 50%;
	z-index: 10;
	height: 40%;
	width: 3%;
	background-color: var(--primary);
	transform-origin: bottom;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.clockFrame .hand.second {
	width: 1%;
	height: 44%;
	background-color: var(--accent);
}
.clockFrame .hand.minute {
	width: 2%;
	height: 40%;
	background-color: var(--primary);
}
.clockFrame .hand.hour {
	width: 3%;
	height: 30%;
	background-color: var(--primary);
}

.clockFrame::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 11;
	width: 3%;
	height: 3%;
	background-color: var(--primary);
	transform: translate(-50%, -50%);
	border-radius: 50%;
}
