* {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Droid Sans', sans-serif;
}

:root {
	/* colors */
	--first: var(--blue--light);
	--second: var(--blue--dark);
	--third: var(--blue--light);
	--accent: var(--blue--bright);
	--background: var(--grey);
	--background--dark: var(--grey--dark);
	--background--light: var(--grey--light);
	--black: #0a0a0d;
	--white: #f2f2f2;
	--blue: #3370a6;
	--blue--dark: #2a4359;
	/* --blue--bright: #63d8f2; */
	--blue--bright: #80f2e7;
	--blue--light: #b6ecf2;
	--green: #3d8c27;
	--green--dark: #597332;
	--green--light: #98f257;
	--green--bright: #5ef235;
	--red: #bf2a2a;
	--red--dark: #400c16;
	--red--light: #f22929;
	--red--bright: #f23535;
	--yellow: #f2ce1b;
	--grey: #727368;
	--grey--dark: #1f2126;
	--grey--light: #a5a6a4;

	/* font-size */
	--main: 1em;
}

code {
	font-family: source-code-pro, monospace;
}

.App {
	height: 100vh;
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header {
	width: 100%;
	padding: 0 0.25em;
	background-color: var(--background--dark);
	display: flex;
	justify-content: center;
	align-items: center;
}

header > * {
	text-transform: capitalize;
	color: var(--background--light);
}

main {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
	background-color: var(--background);
}

footer {
	width: 100%;
	padding: 0 0.25em;
	background-color: var(--background--dark);
	color: var(--background--light);
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.clock__container {
	position: relative;
	height: 100%;
	width: 100%;
	padding: var(--main);
	/* border: 1px solid var(--red); */
	display: flex;
	justify-content: center;
	align-items: center;
}

.clock__circle__frame {
	height: 45vw;
	width: 45vw;
	object-fit: contain;
	transform: rotate(-90deg);
	/* border: 1px solid var(--red); */
	border-radius: 50%;
	background-color: var(--background);
	box-shadow: 0px 0px 25px 0px var(--background--dark);
}

.clock__circle {
	fill: black;
	fill-opacity: 0.2;
	stroke: var(--accent);
	stroke-opacity: 0.8;
	stroke-width: 6;
	stroke-linecap: round;
}

.clock__text__container {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3vw;
}

.clock__time__container {
}

.clock__time {
	width: fit-content;
	height: fit-content;
	padding: calc(var(--main) / 6);
	border: 1px solid var(--background);
	text-align: center;
	font-size: 10vw;
	/* font-size: 8.9vw; */
	font-weight: 200;
	color: var(--first);
}

.clock__time .hours {
	flex-grow: 1;
}
.clock__time .minutes {
	flex-grow: 1;
}
.clock__time .seconds {
	display: inline;
	flex-grow: 0.5;
	font-size: 4.5vw;
}

.clock__date__container {
	width: fit-content;
	height: fit-content;
	padding: calc(var(--main) / 6);
	text-align: center;
	font-size: 1.5vw;
	font-weight: 200;
	color: var(--first);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0.5vw;
}

.clock__text__container .day--number {
	font-size: 1.9vw;
	font-weight: 400;
}
